In [2]:
import numpy as np
import pandas as pd
from google.colab import drive
import os
import time
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import pandas as pd
import time
from sklearn.decomposition import PCA, KernelPCA
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.neighbors import KNeighborsRegressor
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import pandas as pd

In [3]:
drive.mount('/content/drive',force_remount = True)

Mounted at /content/drive

In [4]:
train = pd.read_csv('/content/drive/MyDrive/My Folders/datasetb2d9982/train_lemmatized_sw.csv')
test = pd.read_csv('/content/drive/MyDrive/My Folders/datasetb2d9982/test_processed.csv')

In [15]:

#import gc
#import pandas as pd

#del(train)
#gc.collect()

82

In [4]:
train.head(2)

,Unnamed: 0.1,Unnamed: 0,PRODUCT_ID,TITLE,BULLET_POINTS,DESCRIPTION,PRODUCT_TYPE_ID,PRODUCT_LENGTH,T_BP,T_BP_D,T_D,F1
0,0,0,1925202,artzfolio tulip flower blackout curtain door w...,luxurious appeal beautiful custommade curtain ...,NaN,1650,2125.98,artzfolio tulip flower blackout curtain door w...,artzfolio tulip flower blackout curtain door w...,artzfolio tulip flower blackout curtain door w...,artzfolio tulip flower blackout curtain door w...
1,1,1,2673191,mark spencer girls pyjama set t862561cnavy mix...,harry potter hedwig pyjamas 616 yrs100 cotton ...,NaN,2755,393.70,mark spencer girls pyjama set t862561cnavy mix...,mark spencer girls pyjama set t862561cnavy mix...,mark spencer girls pyjama set t862561cnavy mix...,mark spencer girls pyjama set t862561cnavy mix...

In [5]:
test.head(2)

,Unnamed: 0,PRODUCT_ID,TITLE,BULLET_POINTS,DESCRIPTION,PRODUCT_TYPE_ID,T_BP,T_BP_D,T_D
0,0,604373,manuel dheliogravure et de photogravure en rel...,NaN,NaN,6142,manuel dheliogravure et de photogravure en rel...,manuel dheliogravure et de photogravure en rel...,manuel dheliogravure et de photogravure en rel...
1,1,1729783,dcgaring microfiber throw blanket warm fuzzy p...,quality guarantee luxury cozy plush polyester ...,dcgaring throw blanket size chart w x l twin s...,1622,dcgaring microfiber throw blanket warm fuzzy p...,dcgaring microfiber throw blanket warm fuzzy p...,dcgaring microfiber throw blanket warm fuzzy p...

In [6]:
train["T_BP_D"].replace(np.nan, "", inplace=True)
test["T_BP_D"].replace(np.nan, "", inplace=True)
del train['Unnamed: 0']
del test['Unnamed: 0']

In [7]:
import pandas as pd
from sklearn.utils import resample
# Load the dataset
# Separate the column with 19k entries
col = train['T_BP_D']
# Sample 50% of the column while preserving the distribution
sampled_col = resample(col, n_samples=0.01*len(col), random_state=25, stratify=col)
# Get the indices of the sampled entries
indices = sampled_col.index
# Sample the original dataframe based on the indices
sampled_df = train.loc[indices]

In [19]:
X_train = sampled_df.copy()
X_test = test.copy()

In [20]:
X_train.shape, X_test.shape

((22496, 11), (734736, 8))

In [21]:
y = X_train['PRODUCT_LENGTH']

In [22]:
del X_train['Unnamed: 0.1']
del X_train['F1']

In [23]:
X_train.head()

,PRODUCT_ID,TITLE,BULLET_POINTS,DESCRIPTION,PRODUCT_TYPE_ID,PRODUCT_LENGTH,T_BP,T_BP_D,T_D
1817326,2404128,craqlin girls tafeta satin semi stittched lehe...,fabric matirial composition always add 100 clo...,shop wide range beautifully craft kid lehenga ...,5994,1200.000000,craqlin girls tafeta satin semi stittched lehe...,craqlin girls tafeta satin semi stittched lehe...,craqlin girls tafeta satin semi stittched lehe...
416024,782766,great divide,NaN,NaN,804,550.000000,great divide,great divide,great divide
864789,1668532,tailgate pros light cornhole board 4x2 3x2 cor...,solid wood construction regualtion size board ...,tailgate pros cornhole set include two regulat...,1171,4800.000000,tailgate pros light cornhole board 4x2 3x2 cor...,tailgate pros light cornhole board 4x2 3x2 cor...,tailgate pros light cornhole board 4x2 3x2 cor...
2181824,2027563,san frissco men genuine leather bruce black ta...,san frissco mens casual loafersupper material ...,bruce black tassel loafers handcraft italian l...,3246,1299.212597,san frissco men genuine leather bruce black ta...,san frissco men genuine leather bruce black ta...,san frissco men genuine leather bruce black ta...
1964118,829214,song,NaN,NaN,811,572.000000,song,song,song

In [24]:
print('Hello')

Hello

In [25]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Create an instance of TfidfVectorizer
s = time.time()
vectorizer = TfidfVectorizer(lowercase = True, max_features=20000, stop_words='english', ngram_range=(1,4))
X_train_tbpd_tfidf = vectorizer.fit_transform(X_train['T_BP_D'])
#X_test_tbpd_tfidf = vectorizer.transform(X_test['T_BP_D'])
e = time.time()
print(str((e-s)/60) + " mins")
X_train_tbpd_tfidf = X_train_tbpd_tfidf.toarray()

0.1783463438351949 mins

In [ ]:
s = time.time()

pca = PCA(n_components = 5000)
X_pca_tbpd = pca.fit_transform(X_train_tbpd_tfidf)
#X_pca_tbpd_test = pca.transform(X_test_tbpd_tfidf)
# Print the explained variance ratio for normal PCA
print("Explained Variance Ratio (Normal PCA): ", pca.explained_variance_ratio_)
e = time.time()
print(str((e-s)/60) + " mins")
print(sum(pca.explained_variance_ratio_))

In [ ]:
X_pca_tbpd = pd.DataFrame(X_pca_tbpd)
product_ids = X_train['PRODUCT_TYPE_ID']
final_df = pd.DataFrame(X_pca_tbpd)
pro_df = pd.DataFrame(product_ids)
final_df.shape, pro_df.shape
pro_df = pro_df.reset_index()
df= pd.concat([final_df, pro_df], axis = 1)

In [ ]:
del df['index']
df.shape

In [ ]:
# data standardization with  sklearn
from sklearn.preprocessing import StandardScaler

# copy of datasets
X_train_stand = df.copy()
#X_test_stand = X_test.copy()
# numerical features
scale = StandardScaler().fit(X_train_stand['PRODUCT_TYPE_ID'])  
# transform the training data column
X_train_stand = scale.transform(X_train_stand['PRODUCT_TYPE_ID'])
# transform the testing data column
#X_test_stand = scale.transform(X_test_stand['PRODUCT_TYPE_ID'])

In [ ]:
df

In [ ]:
X_train_stand.head

In [ ]:
from sklearn.neighbors import KNeighborsRegressor

# create a KNN regression model with k = 5
knn = KNeighborsRegressor(n_neighbors=5, n_jobs = -1)

# train the model on the training data
knn.fit(X_train_stand, y)

# use the model to make predictions on the test data
# y_pred = knn.predict(X_test)

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.grid_search import RandomizedSearchCV
from sklearn.neighbors import KNeighborsRegressor
#specify "parameter distribution" rather than "parame
k_range=range(1,26)
parameters = {'n_neighbors':[8,10,15,25,30] , "n_jobs" : [-1]}
knn = KNeighborsRegressor()
param_grid=dict(n_neighbors=k_range)
options=['uniform', 'distance']
param_dist = dict(n_neighbors=k_range, weights=options)
clf = GridSearchCV(knn, parameters,verbose=2)
grid = GridSearchCV(knn, param_grid, cv=10, scoring='accuracy')
grid.fit(X_train_stand,y)

In [ ]:
print(grid.best_score_)
print(grid.best_params_)
print(grid.best_estimator_)

In [ ]:
rand = RandomizedSearchCV(knn, param_grid, cv=10, scoring='accuracy', n_iter=10, random_state=5)
rand.fit(X_train_stand, y)
rand.grid_scores_

In [ ]:
print(rand.best_score_)
print(rand.best_params_)

In [ ]:
best_scores=[]
for i in range(20):
    rand = RandomizedSearchCV(knn, param_dist, cv=10, scoring='accuracy', n_iter=10)
    rand.fit(X_train_stand, y)
    best_scores.append(round(rand.best_score_,3))
print(best_score)

## Stacking

In [ ]:
train = pd.read_csv('/content/drive/MyDrive/My Folders/datasetb2d9982/train_lemmatized_sw.csv')
test = pd.read_csv('/content/drive/MyDrive/My Folders/datasetb2d9982/test_processed.csv')

In [5]:
train["T_BP_D"].replace(np.nan, "", inplace=True)
test["T_BP_D"].replace(np.nan, "", inplace=True)
del train['Unnamed: 0']
del test['Unnamed: 0']

In [6]:
import pandas as pd
from sklearn.utils import resample
# Load the dataset
# Separate the column with 19k entries
col = train['T_BP_D']
# Sample 50% of the column while preserving the distribution
sampled_col = resample(col, n_samples=0.01*len(col), random_state=25, stratify=col)
# Get the indices of the sampled entries
indices = sampled_col.index
# Sample the original dataframe based on the indices
sampled_df = train.loc[indices]

In [7]:
knn_10 = pd.read_csv('/content/drive/MyDrive/My Folders/datasetb2d9982/knn_10.csv')
knn_30 = pd.read_csv('/content/drive/MyDrive/My Folders/datasetb2d9982/knn_30.csv')
knn_7 = pd.read_csv('/content/drive/MyDrive/My Folders/datasetb2d9982/knn_7.csv')

In [ ]:
sampled_df

In [ ]:
X_train = sampled_df.copy()
X_test = test.copy()

In [7]:
import pandas as pd

df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]}, index=[0, 1, 2])
df2 = pd.DataFrame({'C': [7, 8, 9], 'D': [10, 11, 12]}, index=[1, 2, 3])

merged_df = df1.join(df2, how='inner')

In [ ]:
sampled_df

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Create an instance of TfidfVectorizer
s = time.time()
vectorizer = TfidfVectorizer(lowercase = True, max_features=20000, stop_words='english', ngram_range=(1,4))
X_train_tbpd_tfidf = vectorizer.fit_transform(X_train['T_BP_D'])
#X_test_tbpd_tfidf = vectorizer.transform(X_test['T_BP_D'])
e = time.time()
print(str((e-s)/60) + " mins")
X_train_tbpd_tfidf = X_train_tbpd_tfidf.toarray()

In [ ]:
s = time.time()

pca = PCA(n_components = 5000)
X_pca_tbpd = pca.fit_transform(X_train_tbpd_tfidf)
#X_pca_tbpd_test = pca.transform(X_test_tbpd_tfidf)
# Print the explained variance ratio for normal PCA
print("Explained Variance Ratio (Normal PCA): ", pca.explained_variance_ratio_)
e = time.time()
print(str((e-s)/60) + " mins")
print(sum(pca.explained_variance_ratio_))

In [ ]:
X_pca_tbpd = pd.DataFrame(X_pca_tbpd)
product_ids = X_train['PRODUCT_TYPE_ID']
final_df = pd.DataFrame(X_pca_tbpd)
pro_df = pd.DataFrame(product_ids)
final_df.shape, pro_df.shape
pro_df = pro_df.reset_index()
df= pd.concat([final_df, pro_df], axis = 1)

In [ ]:
# data standardization with  sklearn
from sklearn.preprocessing import StandardScaler

# copy of datasets
X_train_stand = df.copy()
#X_test_stand = X_test.copy()
# numerical features
scale = StandardScaler().fit(X_train_stand['PRODUCT_TYPE_ID'])  
# transform the training data column
X_train_stand = scale.transform(X_train_stand['PRODUCT_TYPE_ID'])
# transform the testing data column
#X_test_stand = scale.transform(X_test_stand['PRODUCT_TYPE_ID'])

In [ ]:
merged_df = X_train_stand.join(knn_10, how='inner')
merged_df2 = merged_df.join(knn_30, how='inner')
merged_df3 = merged_df2.join(knn_7, how='inner')

In [ ]:
y = X_train['PRODUCT_LENGTH']

In [ ]:
from sklearn.neighbors import KNeighborsRegressor

# create a KNN regression model with k = 5
knn = KNeighborsRegressor(n_neighbors=5, n_jobs = -1)

# train the model on the training data
knn.fit(merged_df3, y)

# use the model to make predictions on the test data
# y_pred = knn.predict(X_test)